body{
    background-color: black;
    color: green;
}

p{
    font-family: 'Times new roman',Times,serif;
    font-size:xx-large;
    font-style:italic;
}
img{
    height:500px;
    width:500px;
    border-radius:500px;
}
video{
    height:500;
}

ol{
    list-style-type:upper-roman;
}
ul{
    list-style-type:circle;
}

h1{
    padding:50px;
    border:1px soild white;
    margin:50px;
}

button{
    background-color:red;
    padding: 10px;
    margin: 20px;
}

button:hover{
    background-color:blue;
}
table ,th,td{
    border: 1px solid white;
    border-collapse: collapse;
}
nav{
    display:flex;
    flex-direction:row  ;
    gap:50px;
}
#p1{
    font-style: italic ;
}
#p2{
    font-style: normal ;
}

.group{
    font-size: xx-large;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
